h1 {
  font-size:175%;
}

a {
  color:darkred;
}
a:hover {
  color:black;
}

.blog-post-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0.25rem;
  border-bottom: 2px solid #EEE;
}

.blog-post-preview:last-child {
  border-bottom-width: 0;
}

.blog-post-preview .title {
  margin-bottom:0px;
}

.blog-post-preview .title a {
  text-decoration:none;
  color:darkred;
}

.blog-post-preview .date {
  color: #555;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight:200;
}

.blog-post-preview p {
  font-family: sans-serif;
}
