.tag-list {
    margin:0;
    display:block;
    border-top:1px solid darkred;
    padding-top:1rem;
    padding-bottom:1rem;
}

.tag-list li {
    list-style: none;
    display:inline-block;
    margin-bottom:0;
}

.tag-list li a {
    margin-right:10px;
    color:darkred;
}

.tag-list li a:hover {
    color:black;
}