@media (max-width: 440px) {
    .header td {
        display:block;
    }

    .text-container {
        margin:0px;
        padding:0px 16px;
    }

    .object .image {
        margin:10px;
    }

    .object .image img.main {
        width: 100%;
        max-height:300px;
        max-width: 260px;
        margin:0px;
        margin-bottom: 12px;
    }

    .object td {
        display:block;
    }

    .object .description {
        margin:0px;
        padding:0px 16px;
    }

    .name2 {
        margin-bottom:-5px;
    }

    .divider2 {
        height: 100px;
    }
}